# Dependencies
node_modules/

# Environment
.env
.env.local
.env.development.local
.env.production.local

# Builds
dist/
.next/
out/

# Logs
*.log
npm-debug.log*

# IDE / OS
.vscode/
.idea/
.DS_Store
