PORT=5000
NODE_ENV=development

MONGODB_URI=mongodb://santhiransaran23_db_user:SaranFcode2026@ac-kqg7q5g-shard-00-00.4noaokc.mongodb.net:27017,ac-kqg7q5g-shard-00-01.4noaokc.mongodb.net:27017,ac-kqg7q5g-shard-00-02.4noaokc.mongodb.net:27017/?ssl=true&replicaSet=atlas-x5kbah-shard-0&authSource=admin&appName=Cluster0